@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Rubik+Glitch&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: #1e1b2b;
  box-shadow: 12px 12px 24px #2b006c;
  border-radius: 100px;
}

.nome {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.descricao {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.imgs{
  text-align: center;
}
img{
  margin-top: 15px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.contato {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper a {
  width: 250px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.wrapper :hover {
  background: #800080;
  transition: all 0.2s ease-in;
  color: #ffffff;
}

.setup {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px;
}

.setupp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setupp a {
  width: 250px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.setupp :hover {
  background: #800080;
  transition: all 0.2s ease-in;
  color: #ffffff;
}

.setupg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.setupg a {
  width: 250px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.setupg :hover {
  background: #800080;
  transition: all 0.2s ease-in;
  color: #ffffff;
}